{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
{% block subtitle %}{{ page_title }}{% endblock %}
{% block body %}


    <!-- team leader section Start -->
    <section class="overflow-hidden">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-5 offset-xl-1">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <img src="{% static 'front-end/assets/images/about-us/jason-goodman-vbxyFxlgpjM-unsplash.jpg' %}"
                                 class="img-fluid rounded-3 about-image" alt="">
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'front-end/assets/images/about-us/pexels-pixabay-269077.jpg' %}"
                                 class="img-fluid rounded-3 about-image" alt="">
                        </div>
                        <div class="col-12 ratio_40">
                            <div>
                                <img src="{% static 'front-end/assets/images/about-us/pexels-nataliya-vaitkevich-6214472.jpg' %}"
                                     class="img-fluid rounded-3 team-image bg-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5">
                    <div class="about-details">
                        <div>
                            <h2>Welcome to Apparel Shop1!</h2>
                            <p>We are a fashion retailer dedicated to bringing you the latest trends in clothing,
                                footwear, and accessories. Our products are carefully curated to ensure the highest
                                quality and style, with options for men, women, and children.</p>
                            <p>Our team is passionate about fashion and strives to provide exceptional customer service
                                to make your shopping experience as enjoyable as possible. We believe that fashion is
                                not just about looking good, but also about feeling confident and expressing your
                                personality. That's why we offer a wide range of products to suit different styles and
                                tastes, from classic to trendy.</p>
                            <p>We are committed to sustainability and ethical practices, and work with suppliers who
                                share our values. We believe that fashion should not come at the expense of the
                                environment or human rights, and strive to make a positive impact on the world through
                                our business practices.</p>
                            <p>Thank you for choosing Apparel Shop1. We hope you enjoy shopping with us!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team leader section End -->

    <!-- service section start -->
    <section class="service-section about-page service-style-2 section-b-space">
        <div class="container">
            <div class="row g-4 g-sm-3">
                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <use href="{% static 'front-end/assets/svg/icons.svg#customer' %}"></use>
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">Customer Servcies</h3>
                            <span class="font-light">Top notch customer service.</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <use href="{% static 'front-end/assets/svg/icons.svg#shop' %}"></use>
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">Pickup At Any Store</h3>
                            <span class="font-light">Free shipping on orders over $65.</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <use href="{% static 'front-end/assets/svg/icons.svg#secure-payment' %}"></use>
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">Secured Payment</h3>
                            <span class="font-light">We accept all major credit cards.</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <use href="{% static 'front-end/assets/svg/icons.svg#return' %}"></use>
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">Free Returns</h3>
                            <span class="font-light">30-days free return policy.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service section end -->

{% endblock %}