{% extends 'index.html' %}

{% block body %}

    <!-- Cart Section Start -->
    <section class="section-b-space">
        <div class="container">
            {#        {% for address in addresses %}#}
            {#            <div class="save-details-box">#}
            {#                <div class="row g-3">#}
            {#                    <div class="col-xl-4 col-md-6">#}
            {#                        <div class="save-details"#}
            {#                             data-profile="{{ address.profile_id }}"#}
            {#                             data-address="{{ address.id }}">#}
            {#                            <div class="save-name">#}
            {#                                <h5>{{ address.profile.get_full_name }}</h5>#}
            {#                                <div class="save-position">#}
            {#                                    <h6>{{ address.label }}</h6>#}
            {#                                </div>#}
            {#                            </div>#}
            {##}
            {#                            <div class="save-address">#}
            {#                                <p class="font-light" id="saved-state-region">{{ address.state_region }}</p>#}
            {#                                <p class="font-light" id="saved-city">{{ address.city }}</p>#}
            {#                                <p class="font-light" id="saved-address">{{ address.address }}</p>#}
            {#                                <p class="font-light" id="saved-zip-code">{{ address.zip_code }}</p>#}
            {#                            </div>#}
            {##}
            {#                            <div class="mobile">#}
            {#                                <p class="font-light mobile">Mobile No. +1-123-456-7890</p>#}
            {#                            </div>#}
            {##}
            {#                            <div class="button use-address">#}
            {#                                <a class="btn btn-sm">Use this address</a>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {##}
            {#                </div>#}
            {#            </div>#}
            {#        {% endfor %}#}


            <div class="row g-4">
                <div class="col-lg-8">
                    <h3 class="mb-3">Billing address</h3>
                    <form class="needs-validation" method="post">
                        <div id="form" class="row g-4">
                            {% csrf_token %}
                            {{ form }}

                            {#                        <div class="form-check ps-0 mt-3 custome-form-check">#}
                            {#                            <input class="checkbox_animated check-it" type="checkbox" id="flexCheckDefault11">#}
                            {#                            <label class="form-check-label checkout-label" for="flexCheckDefault11">Save this#}
                            {#                                information for next time</label>#}
                            {#                        </div>#}
                        </div>
                        {#                    <hr class="my-lg-5 my-4">#}

                        {#                    <h3 class="mb-3">Payment</h3>#}

                        {#                    <div class="d-block my-3">#}
                        {#                        <div class="form-check custome-radio-box">#}
                        {#                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="credit">#}
                        {#                            <label class="form-check-label" for="credit">Credit card</label>#}
                        {#                        </div>#}
                        {##}
                        {#                        <div class="form-check custome-radio-box">#}
                        {#                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="debit">#}
                        {#                            <label class="form-check-label" for="debit">Debit card</label>#}
                        {#                        </div>#}
                        {##}
                        {#                        <div class="form-check custome-radio-box">#}
                        {#                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="paypal">#}
                        {#                            <label class="form-check-label" for="paypal">PayPal</label>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                    <div class="row g-4">#}
                        {#                        <div class="col-md-6">#}
                        {#                            <label for="cc-name" class="form-label">Name on card</label>#}
                        {#                            <input type="text" class="form-control" id="cc-name">#}
                        {#                            <div id="emailHelp" class="form-text">Full name as displayed on card</div>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-6">#}
                        {#                            <label for="cc-number" class="form-label">Credit card number</label>#}
                        {#                            <input type="text" class="form-control" id="cc-number" required="">#}
                        {#                            <div class="invalid-feedback">Credit card number is required</div>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-3">#}
                        {#                            <label for="expiration" class="form-label">Expiration</label>#}
                        {#                            <input type="text" class="form-control" id="expiration">#}
                        {#                        </div>#}
                        {#                        <div class="col-md-3">#}
                        {#                            <label for="cc-cvv" class="form-label">CVV</label>#}
                        {#                            <input type="text" class="form-control" id="cc-cvv">#}
                        {#                        </div>#}
                        {#                    </div>#}
                        <button class="btn btn-solid-default mt-4" type="submit">Continue
                            to checkout
                        </button>
                    </form>
                </div>

                <div class="col-lg-4">
                    <div class="your-cart-box">
                        <h3 class="mb-3 d-flex text-capitalize">Your cart<span
                                class="badge bg-theme new-badge rounded-pill ms-auto bg-dark">3</span>
                        </h3>
                        <ul class="list-group mb-3">

                            {% for item in items %}
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <a>
                                            <img width="50" height="50" src="{{ item.product.image.url }}">
                                        </a>
                                        <h6 class="my-0">{{ item.product.title }}</h6>
                                        <small>{{ item.product.color }}</small>
                                        <small>{{ item.size.name }}</small>

                                    </div>
                                    <span>{{ item.product.price|floatformat:2 }} BGN</span>
                                </li>
                            {% endfor %}
                            <li class="list-group-item d-flex lh-condensed justify-content-between">
                                <span class="fw-bold">Total</span>
                                <strong>{{ order.get_cart_total|floatformat:2 }} BGN</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->

{% endblock %}