{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}
{% block subtitle %}{{ page_title }}{% endblock %}

{% block body %}

    <section>
        <div class="container-fluid">
            <div class="row g-4">
                <div class="col-12">
                    <div class="header-image-contain">
                        <div class="contain-image-box">
                            <div class="home-section home-style-2 p-0">
                                <div class="container-fluid p-0">
                                    <div class="slick-2 dot-dark">
                                        <div>
                                            <div class="home-slider">
                                                <div class="home-wrap row p-0 m-0">
                                                    <div class="col-xxl-3 col-lg-4 p-0 d-lg-block d-none">
                                                        <div class="home-left-wrapper">
                                                            <div>

                                                                <p>The international hoodies with excellent durable
                                                                    fabric, not to heavy but
                                                                    simply PERFECT for Indian summer.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-9 col-lg-8 p-0 left-content">
                                                        <img src="{% static 'front-end/assets/images/fashion/slider/1.jpg' %}"
                                                             class="bg-img blur-up lazyload" alt="">
                                                        <div class="home-content row">
                                                            <div class="col-xxl-4 col-lg-4 col-md-4 col-sm-5 col-6">
                                                                <h1 data-animation-in="fadeInUp">New Trending Fashion
                                                                </h1>
                                                                <div class="discover-block" data-animation-in="fadeInUp"
                                                                     data-delay-in="0.7">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}