{% extends 'index.html' %}
{% load static %}

{% block body %}

    <!-- Shop Section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 ratio_30">
                    <div class="row g-4">
                        <!-- label and featured section -->

                        <div class="col-12">
                            <div class="filter-options">
                                <div class="grid-options d-sm-inline-block d-none">
                                    <ul class="d-flex">
                                        <li class="two-grid">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'front-end/assets/svg/grid-2.svg' %}"
                                                     class="img-fluid blur-up lazyload"
                                                     alt="">
                                            </a>
                                        </li>
                                        <li class="three-grid d-md-inline-block d-none">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'front-end/assets/svg/grid-3.svg' %}"
                                                     class="img-fluid blur-up lazyload"
                                                     alt="">
                                            </a>
                                        </li>
                                        <li class="grid-btn d-lg-inline-block d-none">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'front-end/assets/svg/grid.svg' %}"
                                                     class="img-fluid blur-up lazyload"
                                                     alt="">
                                            </a>
                                        </li>
                                        <li class="five-grid active d-xl-inline-block d-none">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'front-end/assets/svg/grid-5.svg' %}"
                                                     class="img-fluid blur-up lazyload"
                                                     alt="">
                                            </a>
                                        </li>
                                        <li class="list-btn">
                                            <a href="javascript:void(0)">
                                                <img src="{% static 'front-end/assets/svg/list.svg' %}"
                                                     class="img-fluid blur-up lazyload"
                                                     alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- label and featured section -->

                    <!-- Prodcut setion -->
                    <div
                            class="row g-sm-4 g-3 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 gx-sm-4 gx-3 mt-1 custom-gy-5 product-style-2 ratio_asos product-list-section">

                        {% for product in object_list %}
                            <div>
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="{% url 'product details' product.id %}">
                                                <img src="{{ product.image.url }}"
                                                     class="bg-img blur-up lazyload" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-details">
                                        <div class="main-price">
                                            <a href="{% url 'product details' product.id %}" class="font-default">
                                                <h5 class="ms-0">{{ product.title }}</h5>
                                            </a>
                                            <h3 class="theme-color">{{ product.price|floatformat:2 }} BGN</h3>
                                            <button onclick="location.href = 'cart.html';" class="btn listing-content">
                                                Add
                                                To Cart
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                        <!-- Prodcut setion -->
                    </div>

                    <nav class="page-section">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section end -->

{% endblock %}