{% extends 'index.html' %}
{% load static %}
{% block body %}
    <!-- Shop Section start -->
    <section>
        <div class="container">
            <div class="row gx-4 gy-5">
                <div class="col-12">
                    <div class="details-items">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="degree-section">
                                    <div class="details-image ratio_asos">
                                        <div>
                                            <div class="product-image-tag">
                                                <img src="{{ object.image.url }}"
                                                        {#                                                 data-zoom-image=""#}
                                                     class="img-fluid w-100 image_zoom_cls-0 blur-up lazyload" alt="">

                                                <div class="label-tag">
                                                    <h6><i class="fas fa-star"></i> 4.8 <span
                                                            class="font-light">120</span></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="product-image-tag">
                                                <img src="{% static 'front-end/assets/images/fashion/2.jpg' %}"
                                                     id="zoom_02"
                                                        {#                                                 data-zoom-image=""#}
                                                     class="img-fluid w-100 image_zoom_cls-1 blur-up lazyload" alt="">

                                                <div class="label-tag">
                                                    <h6><i class="fas fa-star"></i> 4.8 <span
                                                            class="font-light">120</span></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="product-image-tag">
                                                <img src="{% static 'front-end/assets/images/fashion/3.jpg' %}"
                                                     id="zoom_03"
                                                        {#                                                 data-zoom-image=""#}
                                                     class="img-fluid w-100 image_zoom_cls-2 blur-up lazyload" alt="">

                                                <div class="label-tag">
                                                    <h6><i class="fas fa-star"></i> 4.8 <span
                                                            class="font-light">120</span></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="product-image-tag">
                                                <img src="{% static 'front-end/assets/images/fashion/4.jpg' %}"
                                                     id="zoom_04"
                                                        {#                                                 data-zoom-image=""#}
                                                     class="img-fluid w-100 image_zoom_cls-3 blur-up lazyload" alt="">

                                                <div class="label-tag">
                                                    <h6><i class="fas fa-star"></i> 4.8 <span
                                                            class="font-light">120</span></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="details-image-option black-slide mt-4 rounded">
                                        <div>
                                            <img src="{% static 'front-end/assets/images/fashion/1.jpg' %}"
                                                 class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </div>
                                        <div>
                                            <img src="{% static 'front-end/assets/images/fashion/2.jpg' %}"
                                                 class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </div>
                                        <div>
                                            <img src="{% static 'front-end/assets/images/fashion/3.jpg' %}"
                                                 class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </div>
                                        <div>
                                            <img src="{% static 'front-end/assets/images/fashion/4.jpg' %}"
                                                 class="img-fluid blur-up lazyload"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="cloth-details-size">

                                    <div class="details-image-concept">
                                        <h2>{{ object.title }}</h2>
                                    </div>


                                    <h3 class="price-detail">{{ object.price|floatformat:2 }} BGN
                                        <del>$459.00</del>
                                    </h3>

                                    {#                                <div class="color-image">#}
                                    {#                                    <div class="image-select">#}
                                    {#                                        <h5>Color :</h5>#}
                                    {#                                        <ul class="image-section">#}
                                    {#                                            <li>#}
                                    {#                                                <a href="javascript:void(0)">#}
                                    {#                                                    <img src="{% static 'front-end/assets/images/fashion/product/front/5.jpg' %}"#}
                                    {#                                                         class="img-fluid blur-up lazyload" alt="">#}
                                    {#                                                </a>#}
                                    {#                                            </li>#}
                                    {#                                            <li>#}
                                    {#                                                <a href="javascript:void(0)">#}
                                    {#                                                    <img src="{% static 'front-end/assets/images/fashion/product/front/6.jpg' %}"#}
                                    {#                                                         class="img-fluid blur-up lazyload" alt="">#}
                                    {#                                                </a>#}
                                    {#                                            </li>#}
                                    {#                                            <li>#}
                                    {#                                                <a href="javascript:void(0)">#}
                                    {#                                                    <img src="{% static 'front-end/assets/images/fashion/product/front/7.jpg' %}"#}
                                    {#                                                         class="img-fluid blur-up lazyload" alt="">#}
                                    {#                                                </a>#}
                                    {#                                            </li>#}
                                    {#                                        </ul>#}
                                    {#                                    </div>#}
                                    {#                                </div>#}

                                    <div id="selectSize" class="addeffect-section product-description border-product">
                                        <h6 class="product-title">select size
                                        </h6>

                                        <div class="size-box">
                                            {{ object.size }}
                                            {#                                                                            <ul>#}
                                            {#                                                                                <li>#}
                                            {#                                                                                    <a href="javascript:void(0)">s</a>#}
                                            {#                                                                                </li>#}
                                            {#                                                                                <li>#}
                                            {#                                                                                    <a href="javascript:void(0)">m</a>#}
                                            {#                                                                                </li>#}
                                            {#                                                                                <li>#}
                                            {#                                                                                    <a href="javascript:void(0)">l</a>#}
                                            {#                                                                                </li>#}
                                            {#                                                                                <li>#}
                                            {#                                                                                    <a href="javascript:void(0)">xl</a>#}
                                            {#                                                                                </li>#}
                                            {#                                                                            </ul>#}
                                        </div>

                                        <h6 class="product-title product-title-2 d-block">quantity</h6>

                                        <div class="qty-box">
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <button type="button" class="btn quantity-left-minus"
                                                            data-type="minus" data-field="">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </span>
                                                <input type="text" name="quantity" class="form-control input-number"
                                                       value="1">
                                                <span class="input-group-prepend">
                                                    <button type="button" class="btn quantity-right-plus"
                                                            data-type="plus" data-field="">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-buttons">
                                        <a href="javascript:void(0)"
                                           class="btn btn-solid"
                                           id="add-to-wishlist"
                                           data-product="{{ object.id }}">
                                            <i class="fa fa-heart"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="javascript:void(0)" id="cartEffect"
                                           class="btn btn-solid hover-solid btn-animation update-cart"
                                           data-product="{{ object.id }}"
                                           data-action="add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Add To Cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section end -->
{% endblock %}


