{% extends 'index.html' %}

{% block body %}

    <!-- Sign Up Section Start -->
    <div class="login-section">
        <div class="materialContainer">
            <div class="box">
                <div class="login-title">
                    <h2>Register</h2>
                </div>
                <form method="post" action="{% url 'register user' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'email' %}
                            <div class="input">
                                Email:
                                {{ field }}
                            </div>
                        {% elif field.name == 'password1' %}

                            <div class="input">
                                Password:
                                {{ field }}
                            </div>

                        {% elif field.name == 'password2' %}
                            <div class="input">
                                Confirm password:
                                {{ field }}
                            </div>
                        {% endif %}

                    {% endfor %}

                    <p><a href="user-login.html" class="theme-color">Already have an account?</a></p>


                    <div class="button login">
                        <button type="submit">
                            <span>Sign Up</span>
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Sign Up Section End -->

{% endblock %}