{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block subtitle %}{{ page_title }}{% endblock %}
{% block body %}

    <!-- Sign Up Section Start -->
    <div class="login-section">
        <div class="materialContainer">
            <div class="box">
                <div class="login-title">
                    <h2>Register</h2>
                </div>
                <form method="post">
                    {% csrf_token %}

                    <div class="input">
                        <label for="emailname">Email Address</label>
                        {{ form.email }}
                        <span class="spin"></span>
                        {% if form.errors.email %}
                            <p>{{ form.errors.email }}</p>
                        {% endif %}
                    </div>

                    <div class="input">
                        <label for="name">First name</label>
                        {{ form.first_name }}
                        <span class="spin"></span>
                        {% if form.errors.first_name %}
                            <p>{{ form.errors.first_name }}</p>
                        {% endif %}
                    </div>

                    <div class="input">
                        <label for="name2">Last name</label>
                        {{ form.last_name }}
                        <span class="spin"></span>
                        {% if form.errors.last_name %}
                            <p>{{ form.errors.last_name }}</p>
                        {% endif %}
                    </div>

                    <div class="input">
                        <label for="pass">Password</label>
                        {{ form.password1 }}
                        <span class="spin"></span>
                        {% if form.errors.password1 %}
                            <p>{{ form.errors.password1 }}</p>
                        {% endif %}
                    </div>

                    <div class="input">
                        <label for="compass">Confirm Password</label>
                        {{ form.password2 }}
                        <span class="spin"></span>
                    </div>
                    &nbsp
                <p>Choose an account option between Seller and Customer</p>
                    <div>
                        {{ form.is_seller }}
                    </div>

                    <div class="button login">
                        <button type="submit">
                            <span>Sign Up</span>
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    {% if form.errors.password2 %}
                        <p>{{ form.errors.password2 }}</p>
                    {% endif %}
                </form>

            </div>
            <p><a href="log-in.html" class="theme-color">Already have an account?</a></p>
        </div>
    </div>
    </div>
    <!-- Sign Up Section End -->

{% endblock %}