<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for item in items %}

    Title:{{ item.product.title }}
    -------
    Price: {{ item.product.price }}
    -------
    Quantity:{{ item.quantity }}
    -------
    Total price for item: {{ item.get_total }}
    <ol></ol>

{% endfor %}

Total items: {{ order.get_cart_items }}
Total price for order: {{ order.get_cart_total }}

</body>
</html>