{#{% extends 'base.html' %}#}
{#{% block page_content %}#}
{#    <body>#}
{#    <div>#}
{#        <ul>#}
{#            {% for p in product_list %}#}
{#                <li>#}
{#                    {{ p.title }}#}
{#                    {{ p.size }}#}
{#                    {{ p.color }}#}
{#                    <img src="{{ p.image }}"#}
{#                         alt="Image"#}
{#                         width="150"#}
{#                         height="150">#}
{#                    <a href="{% url 'product details' p.id %}">Details</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#    </body>#}
{#{% endblock %}#}