{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}
{% block subtitle %}{{ page_title }}{% endblock %}
{% block body %}

    <!-- Cart Section Start -->
    <section class="section-b-space">
        <div class="container">
            <h3 class="mb-3">Delivery Address:</h3>
            <div class="row-lg-2">
                <div class="col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade dashboard active show">
                            <div class="save-details-box">
                                <div class="row g-3">
                                    <div class="col-xl-4 col-md-6">
                                        <div class="save-details">
                                            <div class="save-name">
                                                <div class="save-position">
                                                    {% if address.label %}
                                                        {{ address.label }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="save-address">
                                                <p class="font-light">{{ address.recipient_first_name }}</p>
                                                <p class="font-light">{{ address.recipient_last_name }}</p>
                                                <p class="font-light">{{ address.recipient_phone_number }}</p>
                                                <p class="font-light">{{ address.state_region }}</p>
                                                <p class="font-light">{{ address.city }}</p>
                                                <p class="font-light">{{ address.address }}</p>
                                                <p class="font-light">{{ address.zip_code }}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="your-cart-box">
                                            <h3 class="mb-3 d-flex text-capitalize">Your cart</h3>
                                            <ul class="list-group mb-3">

                                                {% for item in items %}
                                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                        <div>
                                                            <a>
                                                                <img width="50" height="50"
                                                                     src="{{ item.product.image.url }}">
                                                            </a>
                                                            <h6 class="my-0">{{ item.product.title }}</h6>
                                                            <small>Color: {{ item.product.color }}</small>
                                                            <br>
                                                            <small>Size: {{ item.size.name }}</small>
                                                            <br>
                                                            <small>Quantity: {{ item.quantity }}</small>

                                                        </div>
                                                        <span>{{ item.get_total|floatformat:2 }} BGN</span>
                                                    </li>
                                                {% endfor %}
                                                <li class="list-group-item d-flex lh-condensed justify-content-between">
                                                    <span class="fw-bold">Total</span>
                                                    <strong>{{ order.get_cart_subtotal|floatformat:2 }} BGN</strong>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row g-4">
                <div class="col-lg-8">
                    <h3 class="mb-3">
                        <a href="{% url 'finalize order' %}">
                            <button class="btn btn-solid-default mt-4">
                                Finalize order
                            </button>
                        </a>
                    </h3>

                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static '../static/js/selectUsedAddress.js' %}"></script>
{% endblock %}