<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Project</title>
</head>

<nav>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'categories' %}">Categories</a>
    <a href="{% url 'register user' %}">Register</a>
    <a href="{% url 'login user' %}">Login</a>
    <a href="{% url 'logout user' %}">Logout</a>
    <a href="{% url 'user profile details' %}">Profile</a>
    User: {{ request.user }}

</nav>
<body>
{% block page_content %}

{% endblock %}
</body>
</html>